@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 20px 20px 20px;
    font-family: 'Dancing Script', cursive;
    background-color: #233d46;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #8c6445;
}

.frame {
    margin: 0 auto;
    position: relative;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    border: 8px solid #8c6445;
    background-color: #5a8299;  
}

.stick {
    position: absolute;
    left: 0;
    bottom: 150px;
    right: 0;
    margin: 0 auto;
    transform-origin: bottom center;
}

.second {
    background-color: #f0f0f0;
    width: 3px;
    height: 135px;
    z-index: 9;
    transform-origin: 1px 115px;
    bottom: 130px;
    border-radius: 10px;

}

.second::before {
    content: "";
    background-color: #f0f0f0;
    width: 20px;
    height: 20px;
    z-index: 10;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    left: -8px;

}

.minute {
    background-color: #252525;
    border-radius: 10px;
    width: 5px;
    height: 100px;
    z-index: 8;  
 
}

.hour {
    background-color: #252525;
    border-radius: 10px;
    width: 10px;
    height: 80px;
    z-index: 7;

}

.line{
    position: absolute;
    width: 8px;
    height: 12px;
    background-color: #f0f0f0;
    left: 50%;
    top: 50%;
    transform-origin: 0 150px;
    border-radius: 10px;
}

.line:nth-child(1) {transform: translateY(-150px);}
.line:nth-child(2) {transform: translateY(-150px) rotateZ(calc(360deg / 12));}
.line:nth-child(3) {transform: translateY(-150px) rotateZ(calc(2 * 360deg / 12));}
.line:nth-child(4) {transform: translateY(-150px) rotateZ(calc(3 * 360deg / 12));}
.line:nth-child(5) {transform: translateY(-150px) rotateZ(calc(4 * 360deg / 12));}
.line:nth-child(6) {transform: translateY(-150px) rotateZ(calc(5 * 360deg / 12));}
.line:nth-child(7) {transform: translateY(-150px) rotateZ(calc(6 * 360deg / 12));}
.line:nth-child(8) {transform: translateY(-150px) rotateZ(calc(7 * 360deg / 12));}
.line:nth-child(9) {transform: translateY(-150px) rotateZ(calc(8 * 360deg / 12));}
.line:nth-child(10) {transform: translateY(-150px) rotateZ(calc(9 * 360deg / 12));}
.line:nth-child(11) {transform: translateY(-150px) rotateZ(calc(10 * 360deg / 12));}
.line:nth-child(12) {transform: translateY(-150px) rotateZ(calc(11 * 360deg / 12));}

.text-info {
    text-align: center;
    color: #000;
    padding: 10px 20px 20px;
    font-size: 25px;
}

@media only screen and (min-width: 768px) {
    .title{
        padding: 70px 10px 30px;
        font-size: 80px;
    }

    .clock-info{
        padding: 40px 10px 20px;
    }

    .text-info {
        margin: 40px 10px 40px;
        font-size: 50px;
        padding: 20px 20px 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .title{
        padding-top: 20px;
    }
    
    .clock-info{
        display: flex;
        
    }

    .text-info{
        margin: 0 auto;
        padding: 0px;
        width: 800px;
        height: 400px;
        font-size: 60px;
    }
}